<h1>About MusicBachs</h1>
<p>
I built this simple application to learn about integrating API's with RoR and deploying with Heroku.<br>
<h3>What I learned</h3>
<ul>
<li>More exposure to Github</li>
<li>Deploying a RoR application with Heroku</li>
<li>Rails controllers</li>
<li>Embedded ruby in HTML pages</li>
<li>More exposure to basic CSS and HTML page formatting</li>
<li><a href="http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
http://www.somacon.com/p141.php">CSS table formatting</a></li>
<li>Integrating an API with a Rails application.  Spotify API in this case.</li>
<li>Thanks to Phil Nash for his <a href = "https://github.com/philnash/meta-spotify">ruby wrapper of the Spotify API</a></li>
<li>Reading inputs from a form and feeding them into ruby as inputs to scripts/API.</li>
<li>Arrays and printing array values of varying length</li>
<li>defining instance variables and passing them across the app</li>
<li><a href="http://www.ruby-forum.com/topic/160638">The difference between .nil? , .empty?, .blank?</a></li>
<li>Leveraging the knowledge of online resouces and coding communities like Ruby-Forum and Stackoverflow.</li>
</ul>
</p>
