<h1>Welcome to MusicBachs</h1>
  <p>
    A project exploring the Spotify API and RoR.<br/>
    Enter the artist name below to see what exists in the Spotify db.<br/>
    
    <h3>Artist Search</h3>
    <% form_tag :action => 'search' do %>
      <%= search_field :myform, :artistext %>
      <%= submit_tag "Submit" %>
    <% end %>
  </p>