<h1>Welcome to MusicBachs</h1>
  <p>
    Intent of the site is to explore various music service API's.  First up is Spotify.<br/>
    Enter the artist name below to see what exists in the Spotify db.<br/>
    
    <h3>Artist Search</h3>
    <% form_tag :action => 'search' do %>
      <%= search_field :myform, :artistext %>
      <%= submit_tag "Submit" %>
    <% end %>
  </p>